h1{
    font-size: 40px;
}

div.input-text{
    padding-top: 50px;
    padding-bottom: 50px;
}

div.input-button{
    padding-top: 20px;
    padding-bottom: 20px;
}

div.input-area{
    padding-top: 20px;
    padding-bottom: 20px;
}

div.table-area{
    padding-top: 20px;
    padding-bottom: 20px;
}

body{
    width: 800px;
}

